.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-wrapper {
    display: flex;
    width: 65dvw;
    justify-content: space-between;
}

.info-bike {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 432px;
}

.info-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}