.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tableContainer {
    width: 600px;
}

mat-icon {
    scale: 150%;
}

.tableContainer button {
    scale: 80%;
}

.tableContainer mat-icon {
    scale: 125%;
}